<app-navbar [isUserLoggedIn]="true"></app-navbar>
<div>
  <button mat-stroked-button color="accent" (click)="openDialog()">Create new</button>
  <div class="container-fluid">
    <div cdkDropListGroup class="row kanban">

      <div class="col-lg kanban-status example-container">
        <h3><span class="badge badge-secondary">Blocked</span></h3>
        <div cdkDropList [cdkDropListData]="blocked" [id]="taskStatus.blocked" class="example-list" (cdkDropListDropped)="drop($event)">
          <div *ngFor="let task of blocked;" class="pad">
            <app-task-card [task]="task"></app-task-card>
          </div>
        </div>
      </div>

      <div class="col-lg kanban-status example-container">
        <h3><span class="badge badge-secondary">To do</span></h3>
        <div cdkDropList [cdkDropListData]="todo" [id]="taskStatus.todo" class="example-list" (cdkDropListDropped)="drop($event)">
          <div *ngFor="let task of todo;" class="pad">
            <app-task-card [task]="task"></app-task-card>
          </div>
        </div>
      </div>

      <div class="col-lg kanban-status example-container">
        <h3><span class="badge badge-secondary">Inprogress</span></h3>
        <div cdkDropList [cdkDropListData]="inProgress" [id]="taskStatus.inProgress" class="example-list" (cdkDropListDropped)="drop($event)">
          <div *ngFor="let task of inProgress;" class="pad">
            <app-task-card [task]="task"></app-task-card>
          </div>
        </div>
      </div>

      <div class="col-lg kanban-status example-container">
        <h3><span class="badge badge-secondary">Done</span></h3>
        <div cdkDropList [cdkDropListData]="done" [id]="taskStatus.done" class="example-list" (cdkDropListDropped)="drop($event)">
          <div *ngFor="let task of done;" class="pad">
            <app-task-card [task]="task"></app-task-card>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>