<div class="container-fluid">
  <div cdkDropListGroup class="row kanban">

    <div class="col-sm kanban-status example-container">
      <h3><span class="badge badge-secondary">Blocked</span></h3>
      <div cdkDropList [cdkDropListData]="blocked" class="example-list" (cdkDropListDropped)="drop($event)">
        <div *ngFor="let task of blocked;">
          <app-task-card [title]="task.subject"></app-task-card>
        </div>
      </div>
    </div>

    <div class="col-sm kanban-status example-container">
      <h3><span class="badge badge-secondary">To do</span></h3>
      <div cdkDropList [cdkDropListData]="todo" class="example-list" (cdkDropListDropped)="drop($event)">
      <div *ngFor="let task of todo;">
        <app-task-card [title]="task.subject"></app-task-card>
      </div>
    </div>
    </div>

    <div class="col-sm kanban-status example-container">
      <h3><span class="badge badge-secondary">Inprogress</span></h3>
      <div cdkDropList [cdkDropListData]="in_progress" class="example-list" (cdkDropListDropped)="drop($event)">
        <div *ngFor="let task of in_progress;">
          <app-task-card [title]="task.subject"></app-task-card>
        </div>
      </div>
    </div>

    <div class="col-sm kanban-status example-container">
      <h3><span class="badge badge-secondary">Done</span></h3>
      <div cdkDropList [cdkDropListData]="done" class="example-list" (cdkDropListDropped)="drop($event)">
        <div *ngFor="let task of done;">
          <app-task-card [title]="task.subject"></app-task-card>
        </div>
      </div>
    </div>
    <!-- <table class="table">
    <thead>
      <tr >
        <th class="col-sm" scope="col">Blocked</th>
        <th class="col-sm" scope="col">To do</th>
        <th class="col-sm" scope="col">In progress</th>
        <th class="col-sm" scope="col">Done</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="col-sm"><app-task-card></app-task-card></td>
        <td class="col-sm"><app-task-card></app-task-card></td>
        <td class="col-sm"><app-task-card></app-task-card></td>
        <td class="col-sm"><app-task-card></app-task-card></td>
      </tr>
      <tr>
        <td class="col-sm"><app-task-card></app-task-card></td>
        <td class="col-sm"><app-task-card></app-task-card></td>
        <td class="col-sm"><app-task-card></app-task-card></td>
        <td class="col-sm"><app-task-card></app-task-card></td>
      </tr>
    </tbody>
  </table> -->
  </div>
</div>