<nav class="navbar navbar-expand-lg navbar-dark bg-custom fixed-top" style="z-index:1;" >
  <a class="navbar-brand" href="#">
    <img src="/assets/logo.svg" width="30" height="30" class="d-inline-block align-top" alt="logo">
    {{title}}
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
       <!-- <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>  -->
      </ul>
    </div>
       
    <div class="form-inline my-2 my-lg-0" *ngIf="isUserLoggedIn">
      <input class="form-control fixedWidth" type="search" placeholder="Search" aria-label="Search" name="searchFilter" ngModel (input)="onSearchChange($event.target.value)">
      <!-- <button mat-icon-button  aria-label="icon-button with a menu" type="submit">
        <mat-icon>search</mat-icon>
      </button> -->
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <div style="display: inline-block;">
          <div mat-card-avatar class="mat-card-avatar"></div>
          <button mat-menu-item disabled>
            <span>{{loggedInUserName}}</span>
          </button>
        </div>
        <mat-divider></mat-divider>
        <button mat-menu-item disabled>
          <mat-icon>work</mat-icon>
          <span>My Account</span>
        </button>
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
        </button>
        <button mat-menu-item (click)="logoutUser()">
          <mat-icon>keyboard_backspace</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
        
  
  
  

  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
</nav>