<div>
  <button mat-stroked-button color="accent" (click)="openDialog()">Create new</button>
  <!-- <ul class="list-group dark-txt">
      <li (click)="onSelect(project.id)" class="list-group-item d-flex justify-content-between align-items-center pointer" 
      *ngFor="let project of projects">
        {{project.project_name}}
        <span class="badge badge-primary badge-pill">14</span>
      </li>
    </ul> -->

    <div class="row" >
      
      <div class="col-lg-3" #1 *ngFor="let project of projects">
        <div class="pad">
          <app-project-card [project]="project"></app-project-card>
        </div>
      </div>

    </div>

</div>