<app-navbar></app-navbar>
<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-10 col-md-8 col-lg-6 form-resize">
      <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        <div class="form-group">
          <label for="inputEmail">Username/ Email address</label>
          <input required type="email" name="username" class="form-control" id="inputEmail"
            aria-describedby="emailHelp" ngModel>
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <div class="form-group">
          <label for="inputPassword">Password</label>
          <input required type="password" name="password" class="form-control" id="inputPassword" ngModel>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="checkRememberMe">
          <label class="form-check-label" for="checkRememberMe">Remember me</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <small class="form-text">New Here? <a class="pointer" (click)="navigateToSignUp()">Sign Up</a></small>
      </form>
    </div>
  </div>
</div>


<!-- <div class="container">
  
</div> -->




<!-- <form [formGroup]="signin">
  <mat-form-field>
       <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
       <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
       <mat-hint *ngIf="!passwordInput.value">Enter your password</mat-hint>
   </mat-form-field>
 </form> -->