
::ng-deep .mat-form-field-label {
    color: white !important;
}

::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
background: none !important;
}

::ng-deep .mat-input-element {
caret-color: white !important;
}