.form-resize {
    max-width: 400px;
}

.profile_pic-resize {
    max-width: 200px;
    align-self: center;
}

.pointer {
    cursor: pointer;
    // color: rgb(40, 150, 85);
}

mat-form-field {
    width: 100%;
}
