<mat-card class="mat-card">
    <div class="selectable" (click)="onSelect()">
        <mat-card-header>
            <div mat-card-avatar class="mat-card-avatar"></div>
            <mat-card-title>{{project.project_name}}</mat-card-title>
            <mat-card-subtitle>{{project.owner}}</mat-card-subtitle>
        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content>
            <!-- <span class="badge badge-primary badge-pill">14</span> -->
            <p>
                {{project.project_desc}}
            </p>

        </mat-card-content>
    </div>

    <mat-card-actions>
        <button mat-icon-button (click)="onEditProject()">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="onDeleteProject()">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-card-actions>

</mat-card>