<mat-card class="mat-card">
    <div class="selectable" (click)="onSelect()">
        <mat-card-header>
            <div mat-card-avatar class="mat-card-avatar"></div>
            <mat-card-title>{{project.project_name}}</mat-card-title>
            <mat-card-subtitle>{{project.owner}}</mat-card-subtitle>
        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content>
            <!-- <span class="badge badge-primary badge-pill">14</span> -->
            <p>
                {{project.project_desc}}
            </p>

        </mat-card-content>
    </div>

    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">

            <mat-expansion-panel-header>
                <mat-panel-description>
                    <div *ngIf="panelOpenState">
                        <div class="row" (click)="onEditProject()">
                            <button mat-button >
                                <mat-icon>edit</mat-icon>
                                Edit
                            </button>
                        </div>

                        <div class="row" (click)="onDeleteProject()">
                            <button mat-button >
                                <mat-icon>delete</mat-icon>
                                <span>Delete</span>
                            </button>
                        </div>
                    </div>
                    {{panelOpenState ? '' : 'More'}}
                </mat-panel-description>
            </mat-expansion-panel-header>
        </mat-expansion-panel>
    </mat-accordion>
</mat-card>